@import url(https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css);
@import url(https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css);

pre, code { font-family: Hack, monospace; }

* {
	margin:0;
	padding:0;
	font-family: 'Hack';
	background-color: #282828;
}

.image {
	position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}